div.pce-cursor {
  right: auto;
  bottom: auto;
  width: 2px;
  z-index: 1;
  animation: 1.06s steps(1) infinite;
}

.pce-focus .pce-cursor {
  background: var(--pce-cursor);
}

@keyframes pce-blink0 {
  0%,
  29% {
    opacity: 1;
  }
  43%,
  86% {
    opacity: 0;
  }
}

@keyframes pce-blink1 {
  0%,
  29% {
    opacity: 1;
  }
  43%,
  86% {
    opacity: 0;
  }
}
