.pce-ac-wrapper button {
	all: unset;
	cursor: pointer;
}

.pce-ac-top {
	grid: "d" minmax(3em, 1fr) "t" minmax(auto, max-content) / auto;
}

.pce-ac-bottom {
	grid: "t" minmax(auto, max-content) "d" minmax(3em, 1fr) / auto;
}

.pce-ac-bottom-end {
	grid: "t d" auto ". d" 3em / auto auto;
}

.pce-ac-bottom-start {
	grid: "d t" auto "d ." 3em / auto auto;
}

.pce-ac-top-end {
	grid: ". d" 3em "t d" auto / auto auto;
}

.pce-ac-top-start {
	grid: "d ." 3em "d t" auto / auto auto;
}

.pce-ac-content {
	padding: 0.25em 0.3em;
}

.pce-ac-docs pre {
	white-space: pre-wrap;
	word-break: break-word;
	font: inherit;
	margin: 0;
}

.pce-ac-docs code {
	font: inherit;
}

.pce-ac-top .pce-ac-docs {
	margin-block: 0 -1px;
}

.pce-ac-bottom .pce-ac-docs {
	margin-block: -1px 0;
}

.pce-ac-top-start .pce-ac-docs,
.pce-ac-bottom-start .pce-ac-docs {
	inset-inline-end: -1px;
}

.pce-ac-top-end .pce-ac-docs,
.pce-ac-bottom-end .pce-ac-docs {
	margin-inline: -1px 0;
}

.pce-ac-top-start .pce-ac-docs,
.pce-ac-bottom-start .pce-ac-docs,
.pce-ac-top-end .pce-ac-docs,
.pce-ac-bottom-end .pce-ac-docs {
	position: absolute;
  max-height: 100%;
	width: 20em;
}

button.pce-ac-toggle {
	width: 1.26em;
	height: 1.4em;
	display: grid;
	place-items: center;
	position: absolute;
	inset-inline-end: 0.2em;
}

.pce-ac-toggle::after {
	content: "";
	height: 1em;
	width: 0.7em;
	transform: rotate(90deg);
	clip-path: polygon(50% 28.96%, 0% 63.96%, 10.1% 71.04%, 50% 43.11%, 89.9% 71.04%, 100% 63.96%);
}

button.pce-ac-close {
	width: 1.3em;
	height: 1.3em;
	display: grid;
	place-items: center;
	float: inline-end;
}

.pce-ac-close::after {
	content: "";
	background: currentColor;
	height: 1em;
	width: 0.6em;
	clip-path: polygon(
		50% 44.34%,
		0% 74.34%,
		9.43% 80%,
		9.43% 20%,
		0% 25.66%,
		50% 55.66%,
		100% 25.66%,
		90.57% 20%,
		50% 44.34%,
		9.43% 20%,
		9.43% 80%,
		50% 55.66%,
		90.57% 80%,
		100% 74.34%
	);
}

.pce-ac-wrapper {
	position: sticky;
	pointer-events: auto;
	right: 0.5em;
	left: 0.5em;
	display: grid;
}

.pce-ac-wrapper > div {
	border: 1px solid var(--pce-widget-border);
	background: var(--pce-widget-bg);
	box-sizing: border-box;
	overflow: auto;
}

.pce-ac-docs {
	max-height: min(100% + 1px, 17em);
	outline: 0;
	grid-area: d;
	-webkit-user-select: text;
	user-select: text;
	white-space: normal;
}

.pce-ac-tooltip {
	border-radius: 0.2em;
	white-space: pre;
	grid-area: t;
	height: 100%;
	max-height: 17em;
}

.pce-ac-tooltip > ul {
	box-sizing: border-box;
	overflow: hidden;
}

.pce-ac-row {
	display: flex;
	padding: 0 0.2em;
	height: 1.4em;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
	position: relative;
}

.pce-ac-label span {
	color: var(--pce-ac-match, #52b1ff);
}

.pce-ac-label {
	flex-grow: 1;
}

.pce-ac-label,
.pce-ac-details span {
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.pce-ac-details {
	font-size: 90%;
	display: flex;
	flex-shrink: 4;
	max-width: 70%;
	opacity: 0.75;
}

.pce-ac-details:has(:empty) {
	display: none;
}

.pce-ac-row:hover:has(button) .pce-ac-details span {
	width: calc(100% - 1.4em);
}

.pce-ac-row:hover:has(button):has(.pce-ac-details :empty) {
	padding-inline: 0.2em 1.46em;
}

.pce-ac-row:hover .pce-ac-toggle::after {
	background: currentColor;
}

@media (hover: hover) {
	.pce-ac-row:hover {
		background: #7772;
	}
}

.pce-ac-row[aria-selected] {
	background: #1094ff36;
	color: var(--pce-widget-color-active);
}

.pce-tabstops span {
	background: var(--pce-tabstop, #7c7c7c4d);
}

.pce-tabstops :empty {
	padding: 0 1px;
	margin: 0 -1px;
}
